mat-paginator{
    background: #212121;
}

mat-paginator{
    color: #fff;
}

.btnDesign{
    height: 44px;
    border-radius: 0;
    width: 55px;
    background: #dc4666;
    border: #dc4666;
}


@media (max-width: 768px) {
 
}