<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a  href="../movies/topRated" ><span>Movies</span></a>&nbsp;&nbsp;
  <small class="text-success" *ngIf="(authService.user | async)"> welcome {{ (authService.user | async)?.email |slice:0:8 }} </small>
  <div class="d-flex ml-auto ">
    <div class="navbar-nav ml-auto">
      <a  href="../movies/upcoming"  class="nav-item nav-link text-light">Upcoming Movies</a>
    </div>
    &nbsp;&nbsp;
    <div class="navbar-nav ml-auto">
      <a href="../movies/nowPlaying"  class="nav-item nav-link text-light">Now Playing Movies</a>
    </div>
    <!-- href="../login" -->
    &nbsp;&nbsp;
    <div class="navbar-nav ml-auto" *ngIf="!(authService.user | async)">
      <a (click)="open(login)" class="btn btn-primary" >
        Login
        <ng-template #login let-modal>
          <app-login></app-login>
        </ng-template>
      </a>
      &nbsp;
      <a (click)="open(register)" class="btn btn-dark" >
        Register
        <ng-template #register let-modal>
          <app-register></app-register>
        </ng-template>
      </a>
    </div>

    &nbsp;&nbsp;
    <div class="navbar-nav ml-auto" *ngIf="authService.user | async">
      <button (click)="open(logout)" class="btn btn-success">
        Logout
        <ng-template #logout let-modal>
          <div class="card">
            <div class="card-body" *ngIf="authService.user | async">
              <h6>Are you sure to Log Out!</h6>
              <a (click)="authService.signOut(); modal.close('Save click')" href="../movies" class="btn btn-success"> Logout </a>
            </div>       
          </div>
        </ng-template>
      </button>
    </div>

  </div>
  
</nav>