.navbar {
    color: #fff;
    background-color: #212121;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

a {
    color: #fff;
    text-decoration: none;
}
.card{
    background-image: linear-gradient(#cadee9,#c9cbcc);
}



@media (max-width: 768px) {
    a{
        font-size: 10px;
    }
    small{
        font-size: 8px;
    }
    .navbar{
        height: 50px;
    }
    button{
        font-size: 12px;
    }
}