.navbar {
    color: #fff;
    background-color: #212121;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

a {
    color: #fff;
    text-decoration: none;
}



@media (max-width: 768px) {
    a{
        font-size: 15px;
    }
    .navbar{
        height: 50px;
    }
}